<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=800, initial-scale=1.0" />
    <title>Cats everywhere!</title>
    <style>
      .cat img {
        width: {{ img_size[0] }}px;
        height: {{ img_size[1] }}px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
  <h1>Cats everywhere!</h1>
    {% for cat in cats %}
      <div class="cat">
        <h2>{{ cat.id }}</h2>
        <img src="{{ cat.url }}">
      </div>
    {% endfor %}
  </body>
</html>
